/*  CSS rules for google fonts.....
font-family: 'Permanent Marker', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;       */

body {
  background: #f5e0e5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
}
.hero {
  background: #f5cbd2;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.btn-styling {
  color: white;
  background-color: #852d3d;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-styling-nofill {
  color: #852d3d;
  border-color: #852d3d;
  border: solid #852d3d;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.project-description {
  padding: 0px 30px;
}
@media (max-width: 960px) {
  .hero {
    padding: 60px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 40px;
  }
}

/* about page styling */
.generic-page-hero {
  padding: 160px 20px;
  text-align: center;
}
.generic-page-hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 80px;
}
.generic-page-hero h2 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1.7;
}
.generic-page-hero p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #272142;
}
.images {
  border-radius: 10px;
  height: 400px;
  width: 400px;
  margin-left: 60px;
}
nav a:hover,
nav li.active a {
  color: #852d3d !important;
}
/*footer*/

footer {
  margin: 150px 0;
}
footer .footer-box {
  background-color: white;
  padding: 30px 90px;
  border-radius: 5px;
}
footer .footer-box p {
  margin: 0;
}
footer .footer-links a {
  margin: 0 20px;
  padding: 10px 15px;
  background-color: white;
  border-radius: 50%;
  color: #852d3d;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .footer-links a:hover {
  color: #f5cbd2;
  background-color: #852d3d;
}
footer .footer-links {
  margin-bottom: 100px;
}
footer .git-link {
  display: block;
  text-align: center;
}
